/* Modify tipography */

h1 {
    font-family: Caramel;
}

p {
    font-family: Sono;
}

@font-face {
    font-family: Caramel;
    src: url(./fonts/Caramel\ and\ Vanilla.ttf);
}

@font-face {
    font-family: Sono;
    src: url(./fonts/sono/web/Sono-Light.woff2);
}