::selection {
    background: #CDD4DE;
}

/*--------------------
Header
--------------------*/
header {
    padding: 30px;
}

header .logo {
    margin: 0 auto;
    text-align: center;
}

header .logo svg {
    width: 61px;
    height: 14px;
}

/*--------------------
Content
--------------------*/
.content {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
}

.back {
    display: inline-block;
    border: 1px solid #CDD4DE;
    padding: 8px 14px;
    border-radius: 4px;
    opacity: 0.4;
    color: #CDD4DE;
    cursor: pointer;
    text-align: center;
}

.back:hover {
    color: white;
    opacity: 0.6;
}

.content h1 {
    font-weight: bold;
    font-size: 165px;
    line-height: 1;
    margin-bottom: 25px;
    opacity: 0.6;
}

.content h2 {
    font-weight: bold;
    font-size: 34px;
    line-height: 1;
    margin-bottom: 25px;
    opacity: 0.9;
}

/*--------------------
Background body
--------------------*/

.bg-primary {
    position: relative;
    background-image: url("../../img/bg/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}