body {
    background-color: #333;
}

.mi-texto {
    background: linear-gradient(#3329c3, #df3131);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: coffee;
}

@font-face {
    font-family: coffee;
    src: url(./fonts/Coffeeday.otf);
}