/* CSS FOR UPLOAD FILES */
#upload {
	position: absolute;
	right: -9999px;
	visibility: hidden;
	opacity: 0;
}

.lAnexos {
	position: relative;
	padding: 1rem 3rem;
	background: #eee;
	display: inline-block;
	text-align: center;
	overflow: hidden;
	border-radius: 10px;

	&:hover {
		background: #0c8fda;
		color: #fff;
		cursor: pointer;
		transition: 0.2s all;
	}
}

div.customDiv.files {
	&.files {
		background: #eee;
		padding: 1rem;
		margin: 1rem auto;
		border-radius: 10px;

		.listFiles {
			list-style: none;
			padding: 0;
			max-height: 100%;
			overflow: auto;

			.fileUp {
				padding: 1.5rem 12px;
				position: relative;
				border: 1px outset #fff;
				border-radius: 10px;
				margin: 8px auto;

				.preU {
					cursor: pointer;
					position: absolute;
					top: 50%;
					right: 15px;
					transform: translatey(-50%);
				}
			}
		}
	}

	&.anexos {
		width: 100%;
		padding: 0 2rem;
	}
}

.file-size {
	margin: 10px;
	font-weight: bold;
}

.file-preview {
	height: 80px;
	width: 100px;
	border: 1px solid #000;
	position: relative;
	top: 10px;
	left: 0px;
	background-color: #000;
	padding: 2px 2px 2px;
	color: #000;
	font-weight: bolder;
	cursor: pointer;
	opacity: 1;
	border-radius: 10%;
	display: flex;
}