:root {
  /* Define color and font variables */
  --color-primary: #7f8785;
  --color-secondary: #f3ff6f;
  --color-bg: #333;
  --font-title: Caramel;
  --font-text: Sono;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg);
  display: flex;
  justify-content: space-around;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
  font-family: var(--font-title);
}

.card {
  background-color: var(--color-secondary);
  font-family: var(--font-text);
  width: 180px;
  height: 400px;
}

@font-face {
  font-family: Caramel;
  src: url(./fonts/Caramel\ and\ Vanilla.ttf);
}

@font-face {
  font-family: Sono;
  src: url(./fonts/sono/web/Sono-Bold.woff2);
}
